 /* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
 }
 
 main {
    background-color: #f4f4f4;
    padding: 15px;
 }

 .todo-sidebar {
    background-color: #333;
    color: #fff;
    padding: 15px;
 }

 #add-project-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
 }

 #add-todo-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 24px;
    position: fixed;    
    bottom: 15px;
    right: 15px;
 } */