 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
 }
 
 main {
    background-color: #f4f4f4;
    padding: 15px;
 }

 .sidebar-container {
    background-color: #333;
    color: #fff;
    padding: 15px;
 }

 .sidebar-title {
   font-size: 24px;
   margin-bottom: 12px;
 }

 #add-project-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
 }

 #add-todo-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 24px;
    position: fixed;    
    bottom: 15px;
    right: 15px;
 }


 #project-dialog {
   text-align: center;
   gap: 12px;
   border-radius: 12px;
   min-width: 500px;
 }

#project-dialog::backdrop {
   background-color: rgba(51, 51, 51, .6);
 }

 #project-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
 }

.project-form-buttons {
   display: flex;  
   justify-content: space-evenly;
   width: 100%;
   margin-top: 20px;
}

#create-project-btn,
#close-project-form-btn {
   padding: 8px 16px;
   border-radius: 6px;
   border: none;
   font-weight: 600;
   cursor: pointer;
   font-size: 14px;
}

#create-project-btn {
   background-color: #218838;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#close-project-form-btn {
   background-color: #f8f0fa;
   color: #495057;
   border: 1px solid #dee2e6;
}

#close-project-form-btn:hover {
   background-color: #e2e6ea;
   color: #212529;
}

#project-name {
   width: 50%;
   padding: 10px;
   border: 1px solid #ddd;
   border-radius: 4px;
   box-sizing: border-box;
}

.active-project {
   background-color: #555;
   font-weight: bold;
   border-left: 4px solid #28a745;
   padding-left: 11px;
}

ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

li {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 15px;
   border-radius: 4px;
   margin: 4px 8px;
}

li p {
   margin: 0;
   pointer-events: none;
}

li:hover {
   cursor: pointer;
   background-color: #444;
}

.delete-project-btn {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 5px;
 background-color: transparent;
 border: none;
 border-radius: 6px;
 color: #9ca3af;
 cursor: pointer;
}

li:hover .delete-project-btn {
   opacity: 1;
}

.delete-project-btn:hover {
   background-color: rgba(239, 68, 68, 0.3);
   color: #ef4444;
   border-radius: 4px;
}

.trash-icon {
   pointer-events: none;
}