 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaeaea;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
 }
 
 main {
    background-color: #f4f4f4;
    padding: 15px;
 }

 .sidebar-container {
    background-color: #333;
    color: #fff;
    padding: 15px;
 }

 .sidebar-title {
   font-size: 24px;
   margin-bottom: 12px;
 }

 #add-project-btn {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
 }

 #add-todo-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 20px;
    cursor: pointer;
    border-radius: 50%;
    margin-bottom: 15px;
    font-size: 24px;
    position: fixed;    
    bottom: 15px;
    right: 15px;
 }


 #project-dialog {
   gap: 12px;
   border-radius: 12px;
   width: 50vh;
 }

#project-dialog::backdrop {
   background-color: rgba(51, 51, 51, .6);
 }

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 li {
   margin: 8px;
   padding: 8px;
 }